<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>fullscreen-view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fullscreen-view</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="imagePath"></ion-img>
</ion-content>

